<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Dashboard</title>
</head>
<body>
    <h1>Company Dashboard</h1>

    <p>Company Name: {{ company.company_name }}</p>
    <p>Email: {{ company.email }}</p>
    <p>Domain :{{ company.domain }}</p>
    <p>Approval Status: {{ company.approval_status }}</p>

    <p><a href="{{ url_for('company_drives') }}">View My Drives</a></p>
    <p><a href="{{ url_for('create_drives') }}">Create Placement Drive</a></p>
    <p><a href="{{ url_for('logout')}}">Logout</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   
</body>
</html>
