<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Drives</title>
</head>
<body>
    <h1>My Placement Drives</h1>

    <p><a href="{{ url_for('company_dashboard')}}">Back to Company Dasboard</a></p>
    <p><a href="{{ url_for('create_drive') }}">Create New Drive</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Application Deadline</th>            
            <th>Status</th> 
            <th>Actions</th>           
        </tr>

        {% for drive in drives %}
        <tr>
            <td>{{ drive.id }}</td>
            <td>{{ drive.job_title }}</td>
            <td>{{ drive.location }}</td>
            <td>{{ drive.application_deadline }}</td>
            <td>{{ drive.status }}</td>
            <td>
                <a href="{{ url_for('edit_drive', drive_id = drive.id) }}">Edit</a>
                <a href="{{ url_for('delete_drive', drive_id = drive.id) }}">Delete</a>
                <a href="{{ url_for('close_drive', drive_id = drive.id) }}">Close</a>
                <a href="{{ url_for('company_drive_applications', drive_id = drive.id) }}">Applications</a>
            </td>         
        </tr>
        {% endfor %}
    </table>  
</body>
</html>