<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Placement Drive</title>
</head>
<body>
    <h1>Edit Placement Drive</h1>

    <p><a href="{{ url_for('company_drives') }}">Back to My Drive</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Job Title</label>
        <input type="text" name="job_title" value="{{ drive.job_title }}" required>
        <br><br>

        <label>Job Description</label>
        <textarea name="job_description" required>{{ drive.job_description }}</textarea>
        <br><br>

        <label>Minimum CGPA</label>
        <select name="eligibility_criteria" required>
            <option value="">Select Minimum CGPA</option>
            <option value="6.0" {% if drive.eligibility_criteria =="6.0" %}selected{% endif %}>6.0</option>
            <option value="6.5" {% if drive.eligibility_criteria =="6.5" %}selected{% endif %}>6.5</option>
            <option value="7.0" {% if drive.eligibility_criteria =="7.0" %}selected{% endif %}>7.0</option>
            <option value="7.5" {% if drive.eligibility_criteria =="7.5" %}selected{% endif %}>7.5</option>
            <option value="8.0" {% if drive.eligibility_criteria =="8.0" %}selected{% endif %}>8.0</option>
            <option value="8.5" {% if drive.eligibility_criteria =="8.5" %}selected{% endif %}>8.5</option>
            <option value="9.0" {% if drive.eligibility_criteria =="9.0" %}selected{% endif %}>9.0</option>
        </select>
        
        <label>Skills Required</label>
        <input type="text" name="skills_required" value="{{ drive.skills_required }}" required>
        <br><br>

        <label>Package Range</label>
        <input type="number" name="package_range" min="0" step="0.01" value="{{ drive.package_range }}">
        <br><br>

        <label>Location</label>
        <input type="text" name="location"  value="{{ drive.location }}" required>
        <br><br>

        <label>Application Deadline</label>
        <input type="datetime-local" name="application_deadline" required min="{{ now }}">
        <br><br>

        <button type="submit">Update Drive</button>
    </form>
</body>
</html>