<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Portal</title>
</head>
<body>
    <h1>Placement Portal</h1>

    <p><a href="{{ url_for('login')}}">Login</a> </p>
    <p><a href ="{{ url_for('register_company')}}">Company Registration</a></p>
    <p><a href = "{{ url_for('register_student')}}">Student Registration</a></p>

    {% with messages = get_flashed_messages()%}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
        
</body>
</html>