<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Registration</title>
</head>
<body>
    <form method = "POST">
        <label>Company Name</label>
        <input type ="text" name="company_name" required>

        <br><br>

        <label>Email</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Password</label>
        <input type="password" name="password" required>

        <br><br>

        <label>HR Contact</label>
        <input type="number" name="hr_contact" required>

        <br><br>

        <label>Website</label>
        <input type="text" name="website" required>

        <br><br>
        <label>Domain</label>
        <input type="text" name="domain" required>

        <br><br>

        <label>Description</label>
        <textarea name="description" required></textarea>

        <br><br>

        <label>Type of Employment</label>
        <input type="text" name="type_of_employment">

        <br><br>

        <button type="submit">Register</button>
    </form>
    
</body>
</html>